<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stp.repository.quartz.dao.not_auto.NotAutoScheduleJobMapper">
	<resultMap id="BaseResultMap" type="stp.repository.quartz.model.not_auto.NotAutoScheduleJob">
		<id column="pkid" property="pkid" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
		<result column="job_status" property="jobStatus" jdbcType="VARCHAR" />
		<result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="bean_class" property="beanClass" jdbcType="VARCHAR" />
		<result column="is_concurrent" property="isConcurrent" jdbcType="VARCHAR" />
		<result column="spring_id" property="springId" jdbcType="VARCHAR" />
		<result column="method_name" property="methodName" jdbcType="VARCHAR" />
        <result column="JOB_TRIGGER" jdbcType="VARCHAR" property="jobTrigger" />
        <result column="IS_SYNC" jdbcType="VARCHAR" property="isSync" />
	</resultMap>
	<sql id="Base_Column_List">
		pkid, create_time, update_time, job_name, job_group, job_status,
		cron_expression,description, bean_class, is_concurrent, spring_id,
		method_name,job_trigger,is_sync
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from schedule_job
		where pkid = #{pkid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from schedule_job
		where pkid = #{pkid,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="stp.repository.quartz.model.not_auto.NotAutoScheduleJob">
		insert into schedule_job (pkid, create_time, update_time,
		job_name, job_group, job_status,
		cron_expression, description, bean_class,
		is_concurrent, spring_id, method_name,
		job_trigger,is_sync
		)
		values (#{pkid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR},
		#{cronExpression,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{beanClass,jdbcType=VARCHAR},
		#{isConcurrent,jdbcType=VARCHAR}, #{springId,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR},
		#{jobTrigger,jdbcType=VARCHAR},  #{isSync,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="stp.repository.quartz.model.not_auto.NotAutoScheduleJob">
		insert into schedule_job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				pkid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="jobGroup != null">
				job_group,
			</if>
			<if test="jobStatus != null">
				job_status,
			</if>
			<if test="cronExpression != null">
				cron_expression,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="beanClass != null">
				bean_class,
			</if>
			<if test="isConcurrent != null">
				is_concurrent,
			</if>
			<if test="springId != null">
				spring_id,
			</if>
			<if test="methodName != null">
				method_name,
			</if>
            <if test="jobTrigger != null">
                job_trigger,
            </if>
            <if test="isSync != null">
                is_sync
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				#{pkid,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="jobName != null">
				#{jobName,jdbcType=VARCHAR},
			</if>
			<if test="jobGroup != null">
				#{jobGroup,jdbcType=VARCHAR},
			</if>
			<if test="jobStatus != null">
				#{jobStatus,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				#{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="beanClass != null">
				#{beanClass,jdbcType=VARCHAR},
			</if>
			<if test="isConcurrent != null">
				#{isConcurrent,jdbcType=VARCHAR},
			</if>
			<if test="springId != null">
				#{springId,jdbcType=VARCHAR},
			</if>
			<if test="methodName != null">
				#{methodName,jdbcType=VARCHAR},
			</if>
            <if test="jobTrigger != null">
                #{jobTrigger,jdbcType=VARCHAR},
            </if>
            <if test="isSync != null">
                #{isSync,jdbcType=VARCHAR}
            </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="stp.repository.quartz.model.not_auto.NotAutoScheduleJob">
		update task_schedule_job
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="jobName != null">
				job_name = #{jobName,jdbcType=VARCHAR},
			</if>
			<if test="jobGroup != null">
				job_group = #{jobGroup,jdbcType=VARCHAR},
			</if>
			<if test="jobStatus != null">
				job_status = #{jobStatus,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				cron_expression = #{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="beanClass != null">
				bean_class = #{beanClass,jdbcType=VARCHAR},
			</if>
			<if test="isConcurrent != null">
				is_concurrent = #{isConcurrent,jdbcType=VARCHAR},
			</if>
			<if test="springId != null">
				spring_id = #{springId,jdbcType=VARCHAR},
			</if>
			<if test="methodName != null">
				method_name = #{methodName,jdbcType=VARCHAR},
			</if>
            <if test="jobTrigger != null">
                job_trigger = #{jobTrigger,jdbcType=VARCHAR},
            </if>
            <if test="isSync != null">
                is_sync = #{isSync,jdbcType=VARCHAR}
            </if>
		</set>
		where pkid = #{pkid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="stp.repository.quartz.model.not_auto.NotAutoScheduleJob">
		update schedule_job
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		job_name = #{jobName,jdbcType=VARCHAR},
		job_group = #{jobGroup,jdbcType=VARCHAR},
		job_status = #{jobStatus,jdbcType=VARCHAR},
		cron_expression = #{cronExpression,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		bean_class = #{beanClass,jdbcType=VARCHAR},
		is_concurrent = #{isConcurrent,jdbcType=VARCHAR},
		spring_id = #{springId,jdbcType=VARCHAR},
		method_name = #{methodName,jdbcType=VARCHAR},
		method_name = #{jobTrigger,jdbcType=VARCHAR},
		method_name = #{isSync,jdbcType=VARCHAR}
		where pkid = #{pkid,jdbcType=BIGINT}
	</update>
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from schedule_job
	</select>
</mapper>